@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-225deg, #1d0f2c 0%, #604ba7 53%, #131025 100%);
}

.logo{
    text-align: center;
    color:#7b69b8;
    text-decoration: none;
}

h1{
    margin-top: 2rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px #0e0a1a;
}

span{
    font-size: 1.3rem;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 3px 3px 5px #0e0a1a;
    
}

/* ------------- CREATE CARD COMPONENT ------------- */

.form-card-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.create-card-title{
    font-family: 'Orbitron', sans-serif;
    color: #c4bcdd;
    margin: 0 2rem 2rem;
}

.form-wrapper{
    margin: 0 2rem;
}

.label-form{
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    font-size: .8rem;
    color: #c4bcdd;
}

input{
    margin-bottom: .5rem;
    padding: .5rem .7rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
    outline: none;
    color: #000;
}

.long-input{
    width: 25rem;
}

.short-input-wrapper{
    display: flex;
}

.short-input{
    width: 12rem;
    margin-right: 1rem;
}

.options{
    width: 25rem;
    margin-bottom: 1rem;
    padding: .5rem .7rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.308);
    border: none;
    outline: none;
}

.add-btn{
    width: 25rem;
    padding: .7rem;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.335);
    outline: none;
    font-family: 'Monda', sans-serif;
    background-image: linear-gradient(-225deg, #2e1746 0%, #3f316d 53%, #1f1a3b 100%);
    color: #f0ca96;
    cursor: pointer;
}

.btn-disabled{
    background-color: #bdbdbd;
    color: #dfdfdf;
}


/* ------------- CARD COMPONENT ------------- */

.card-container{
    width: 25rem;
    height: 15rem;
    border-radius: 10px;
    margin: 4rem 2rem 0;
    padding: 2rem 1rem;
    transform:  perspective(800px) rotateY(-20deg) rotateX(10deg) ;
    color: #fff;
    box-shadow: 10px 30px 15px #13102577, inset -1px -1px 1px #ffffffa2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-60deg, #ff585800 0%, #f0ac1942 100%);
}

.card-input{
    width: 12rem;
    background-color: transparent;
    color: #f0ca96;
    font-size: 1rem;
    font-family: 'Monda', sans-serif;
    text-shadow: 1px 1px #dddddd, 2px 2px 2px rgba(0, 0, 0, 0.294);
    padding: 0;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.card-input::placeholder{
    color: #f0ca96;
    font-family: 'Monda', sans-serif;
    font-size: .9rem;
}

.vendor-card-wrapper{
    width: 85%;
    display: flex;
}

.card-input-vendor{
    width: 12rem;
    text-transform: uppercase;
    font-size: 1rem;
}

.card-input-vendor::placeholder{
    font-size: 1rem;
}

.card-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}

.card-input-number{
    width: 19rem;
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.card-input-number::placeholder{
    font-size: 1.6rem;
}

.name-date-container{
    display: flex;
}

.cardholder-wrapper{
    display: flex;
    flex-direction: column;
}

.name-space{
    margin-right: 1rem;
}

.label-text{
    font-size: .5rem;
}

.card-input-name{
    width: 14.5rem;
}

.card-input-date{
    width: 4.7rem;
}

/* ------------- WALLET COMPONENT ------------- */

.home-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wallet-container{
    display: flex;
}

.card-wrapper-active{
    width: 25rem;
    height: 25rem;
    margin: 5rem 0rem 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    box-shadow: 5px 5px 40px #c0a0e248;
    animation: glow 5s ease-in-out infinite;
}

@keyframes glow 
{
  50% { box-shadow: 0 0 30px #c8a5e97a, 0 0 80px #bd971a3d }
}

.card-wrapper-notActive{
    width: 25rem;
    height: 15rem;
    margin: -2rem 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(.9);
    transition: 150ms linear;
}

.card-wrapper-notActive:nth-child(2){
    margin-top: -3.5rem;
    transform: translateX(20px) scale(.9);
}

.card-wrapper-notActive:nth-child(3){
    margin-top: -3.5rem;
    transform: translateX(40px) scale(.9);
}

.card-wrapper-notActive:nth-child(-n+3):hover{
    transform: scale(1);
}

.new-card-btn{
    width: 13rem;
    margin-left: 6rem;
}
